*,*::before,*::after {
    box-sizing: border-box;
    font-family: Axis, sans-serif;
    font-weight: normal;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(225deg,#be3fd4,#f2822f);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
    grid-template-columns: repeat(4,13vh);
    grid-template-rows: minmax(15vh,auto)  repeat(6,13vh);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 5vh;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.75);
}

.calculator-grid > button:hover {
    background-color: rgba(255,255,255,.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0,0,0,.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 1vh;
    word-wrap: break-word;
    word-break: break-all;
}

.store-operand {
    color: rgba(255,255,255,.75);
    font-size: 3vh;
}

.current-operand {
    color: white;
    font-size: 5vh;
}